html{
	background: #304657;
	display: block;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
h2{
  text-align: center;
}
p{
  font-size: 22px;
}
body{
	margin: 0;
  text-align: center;
}

header{
	background-color: #86dbff;
	border-bottom: 4px solid #53CBFF;
	margin: 0px auto;
	padding: 0.66em 0.33em;
	font-family: "AppleGothic", sans-serif;
  font-weight: bolder;
	font-size: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}


#banner{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 0 0 3rem 3rem;
  padding: 6rem 0 1rem;
	background-color: #86dbff;
  margin-bottom: 4px;
}

#profile {
  padding: 2rem 4rem;
  line-height: 1.5;
}

.section-title {
  font-size: 36px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  background: #86dbff;
  box-sizing: border-box;
}

#education-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
}
.education-card{
  box-sizing: border-box;
  border-radius: 1rem;
  left: 1rem;
  padding: 0.5rem 4rem;
 /* flex: 0 1 40%;*/
  min-height: 300px;
}
.info{
  text-align: center;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: #304657;
  color: white;
  position: relative;
  top: 9rem;
}

.card-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card{
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.5rem;
  flex: 0 1 20%;
  max-width: 18%;
  height: calc(18vw - 2px); 
  margin: 0.5rem;
}
.card-info{
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #304657;
  color: white;
  position: relative;
  top: calc(13vw - 1px);
}
.project-card{
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.5rem;
  flex: 0 1 30%;
  max-width: 28%;
  height: calc(18vw - 2px); 
  margin: 0.5rem;
}
.project-card-info{
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.5rem 0.1rem;
  background: #304657;
  color: white;
  position: relative;
  top: calc(10vw - 1px);
  font-size: 0.75em;
}
.card:hover, .education-card:hover, .project-card:hover {
  border-radius: 1rem;
  box-shadow: 0 0 5px #53CBFF,
              0 0 25px #53CBFF,
              0 0 50px #53CBFF,
              0 0 100px #53CBFF;
}
.card div:hover{
  color: #6ac4eb;
}
.project-title a{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
.project-title a {
  background-image: url(assets/external-link-3.svg);
  background-repeat: no-repeat;
  background-position: top right;
  padding:  0 1.2em 0 0;
}
footer{
  background-color: #86dbff;
  border-top: 4px solid #53CBFF;
  margin: 25px auto;
  padding: 0.66em 0.33em;
  font-family: "AppleGothic", sans-serif;
  width: 100%;
}

